#ServerConfig
port:80
verifyEmail:false
serverDomain:http://c453.pw
#serverEmail:
#serverEmailPassword:
#smtpHost:
#smtpPort:
#
#Database Config
#
db_host:96.2.72.20
db_database:rotmgprod
db_user:Server
db_auth:connectToServer1015
#
#Servers
#
svrNum:1
svr0Name:US Midwest
svr0Adr:96.2.72.20