#ServerConfig
port:80
verifyEmail:false
serverDomain:http://c453.pw
#serverEmail:
#serverEmailPassword:
#smtpHost:
#smtpPort:
#
#Database Config
#
db_host:{Put IP Here!}
db_database:rotmgprod
db_user:{Put Username Here}
db_auth:
#
#Servers
#
svrNum:1
svr0Name:US Midwest
svr0Adr:{Put Server IP here!}
